{% extends 'dashboard/base/index.html' %} {% block content %}
<script>
  M.toast({html:" toasted!", classes: "blue rounded",displayLength:2000});
</script>
<style>
/* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: green;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px green;
  }  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  } 
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }  
  .slider.round:before {
    border-radius: 50%;
  }
</style>
<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">

          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-left">
              <li class="breadcrumb-item">
                <a href="{% url 'dashboard:admin_dashboard' %}">Home</a>
              </li>
              <li class="breadcrumb-item active">Users</li>
            </ol>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-primary float-sm-right">
              <a class="text-white" href="{% url 'dashboard:user-create' %}"
                >Add User</a
              >
            </button>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              
              <div class="card-header">
              <div class="row">
              <div class="col-4">
                <h3 class="card-title">Users List</h3>
              </div>
              <div class="col-8">
                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    
                  </div>
                </div>
              </div>
              </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap" id="rooms">
                  <thead>
                    <tr>
                      <th>SN</th>
                      <th>Users</th>
                      <th>Email</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in object_list %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{user.username }}</td>
                      <td>{{user.email}}</td>
                      <td>
                      {% if user.is_active %}
                      <label class="switch"> 
                          <input type="checkbox">
                          <span class="slider round"></span>
                      </label>   
                      {% else %}
                      {% endif %}
                       
                      </td>
                      <td>
                          <span ><a class="btn btn-info mr-2" href="{% url 'dashboard:passwordreset'  %}"
                              ><i
                                class="fa fa-edit m-1"
                                aria-hidden="true"
                              ></i>Reset Password</a
                          ></span>
                      </td> 
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                
                </div>
              </div>
              <!-- /.card-body -->
              <div class="pagination">
                <span>
                  {% if page_obj.has_previous %}
                    {% if page_obj.previous_page_number != 1 %}
                        <a class="btn btn-primary" href="?page1">1</a>
                    {% endif %}
                    <a class="btn btn-primary" href="?page={{page_obj.previous_page_number}}">
                        {{ page_obj.previous_page_number }}
                    </a>
                  {% endif %}
                  <span>
                      {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                  </span>
                  {% if page_obj.has_next %}
                  <a class="btn btn-primary" href="?page={{page_obj.next_page_number}}">
                      {{ page_obj.next_page_number }}
                  </a>
                  {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                  <a class="btn btn-primary" href="?page={{ page_obj.paginator.num_pages }}">
                      {{ page_obj.paginator.num_pages }}
                  </a>
                  {% endif %}
                  {% endif %}
                </span>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}

