
{% extends 'home/base.html' %}
{% load static %}
    {% block content %}

    <!-- CONTENT
      ================================================== -->

    <!-- section header -->
    <section class="section__header">
    	<div class="container">
    	  <div class="row">
    	    <div class="col-sm-12">
    	    	<div class="welcome__content">
							<h1 class="welcome_content__title">Reservation</h1>

							<!-- Breadcrumbs -->
              <ol class="breadcrumb">
							  <li><a href="{% url 'home' %}">Home</a></li>
							  <li class="active">Reservation</li>
							</ol>

    					<p class="welcome_content__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    				</div> <!-- .welcome__content -->
    	    </div>
    	  </div> <!-- / .row -->
    	</div> <!-- / .container -->
			<div class="home__bg reservation__bg"></div>
    </section> <!-- / .section header -->

    <!-- section reservation -->
    <section class="section__reservation">
    	<div class="container">
    	  <div class="row">
    	    <div class="col-sm-5 col-sm-push-7 col-md-4 col-md-push-8">
				{% if selected_room %}
    	    	<div class="booking__details-body">
    	    		<p class="subheading">Booking details</p>
    	    		<h2 class="section__heading">Selected room</h2>
    	    		<figure class="room__details">
								<img src="{{ selected_room.image.url }}" class="img-responsive" alt="...">
								<figcaption>
									<h3>{{ selected_room.room_type }}</h3>
									<div class="room__price">
										{{ selected_room.price }} <small>/ night</small>
									</div>
									<p class="room__desc">{{ selected_room.description|safe|truncatewords:30 }}</p>
								</figcaption>
							</figure> <!-- / .room__details -->
					<ul class="details-info">

						<li class="total-price">
						<label>Room price</label>
						<p>{{ selected_room.price }}/Nights</p>
						</li>

					
					</ul>
  	    		</div> <!-- .booking__details-body -->
				{% endif %}
  	    		<div class="info__body">
							<p class="info__title">Information</p>
							<ul class="info__content">
					<li>
					<p class="info-text">If you have some questions with booking please contact us.</p>
					</li>
	            {% for c in contact|slice:1 %}
 	           		<li>
              			<i class="icon ion-android-pin"></i>
              			<div class="contact-info-content">
                			<div class="title">Address</div>
                			<div class="description"> {{c.address}}</div>
              			</div>
           			</li>
 	          		<li>
              			<i class="icon ion-android-call"></i>
             			<div class="contact-info-content">
                			<div class="title">Phone / Fax</div>
                			<div class="description"> {{c.phone}} / {{c.fax}}</div>
              			</div>
            		</li>
 	           		<li>
              			<i class="icon ion-android-mail"></i>
              			<div class="contact-info-content">
                			<div class="title">E-mail</div>
                			<div class="description"> {{c.email}}</div>
              			</div>
            		</li>
            	{%endfor%}
	            </ul> <!-- .info__content -->
  	    		</div> <!-- / .info__body -->
    	    </div>
    	    <div class="col-sm-7 col-sm-pull-5 col-md-8 col-md-pull-4">
    	    	<div class="reservation__form-body">
    	    		<p class="subheading">Booking form</p>
    	    		<h2 class="section__heading">Personal info</h2>
    	    		<p class="section__subheading">Feel free to book best hotel room in our hotel.</p>

							<!-- Alert message -->
              <div class="alert" id="form_reservation" role="alert"></div>

              <!-- Please carefully read the README.pdf file in order to setup the PHP reservation form properly -->

              <form id="reservation-form_sendemail" action="{% url 'dashboard:reservation_create' %}?frontend" class="reservation__form" data-animate-in="animateUp" method="POST">
				{% csrf_token %}
				<div class="col-sm-12 col-md-6">
              		<div class="form-group">
	                  <label for="check-in" class="sr-only">Check In date</label>
	                  {{ form.check_in_date }}
	                  <span class="help-block"></span>
	                </div>
	              </div>
	              <div class="col-sm-12 col-md-6">
	              	<div class="form-group">
	                  <label for="check-out" class="sr-only">Check Out date</label>
	                  <input type="date" name="check_out_date" class="form-control" id="check-out" value="2021-04-01" required>
	                  <span class="help-block"></span>
	                </div>
	              </div>
	              <div class="col-sm-12 col-md-6">
	              	<div class="form-group">
	                  <label for="form-adults" class="sr-only">Adults</label>
	                  <select class="form-control" name="adult" id="form-adults">
                      <option value="0" selected="">Adults</option>
                      <option value="1">1 Adult</option>
                      <option value="2">2 Adults</option>
                      <option value="3">3 Adults</option>
                  	</select>
	                  <span class="help-block"></span>
	                </div>
	              </div>
	              <div class="col-sm-12 col-md-6">
	              	<div class="form-group">
	                  <label for="form-children" class="sr-only">Children</label>
	                  	<select class="form-control" name="children" id="form-children">
							<option value="0" selected="">Children</option>
							<option value="1">1 Child</option>
							<option value="2">2 Children</option>
							<option value="3">3 Children</option>
                  		</select>
	                  <span class="help-block"></span>
	                </div>
	              </div>
              	<div class="col-sm-12 col-md-6">
              		<div class="form-group">
	                  <label for="first_name" class="sr-only">First name</label>
	                  <input type="text" name="first_name" class="form-control" id="first-name" placeholder="First Name" required>
	                  <span class="help-block"></span>
	                </div>
	              </div>
	              <div class="col-sm-12 col-md-6">
              		<div class="form-group">
	                  <label for="last-name" class="sr-only">Last name</label>
	                  <input type="text" name="last_name" class="form-control" id="last-name" placeholder="Last Name" required>
	                  <span class="help-block"></span>
	                </div>
	              </div>
	              <div class="col-sm-12 col-md-6">
	                <div class="form-group">
	                  <label for="email" class="sr-only">Email</label>
	                  <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
	                  <span class="help-block"></span>
	                </div>
	              </div>
	              <div class="col-sm-12 col-md-6">
	                <div class="form-group">
	                  <label for="phone" class="sr-only">Phone</label>
	                  <input type="tel" name="phone" class="form-control" id="phone" placeholder="Phone" required>
	                  <span class="help-block"></span>
	                </div>
	              </div>
	              <div class="col-sm-12 col-md-6">
	                <div class="form-group">
	                  <label for="address-line1" class="sr-only">Address line 1</label>
	                  <input type="text" name="address_1" class="form-control" id="address-line1" placeholder="Address line 1" required>
	                  <span class="help-block"></span>
	                </div>
              	</div>
              	<div class="col-sm-12 col-md-6">
	                <div class="form-group">
	                  <label for="address-line2" class="sr-only">Address line 2</label>
	                  <input type="text" name="address_2" class="form-control" id="address-line2" placeholder="Address line 2">
	                  <span class="help-block"></span>
	                </div>
              	</div>
              	<div class="col-sm-12 col-md-6">
	                <div class="form-group">
	                  <label for="state" class="sr-only">State / Region</label>
	                  <input type="text" name="state" class="form-control" id="state" placeholder="State / Region" required>
	                  <span class="help-block"></span>
	                </div>
              	</div>
              	<div class="col-sm-12 col-md-6">
	                <div class="form-group">
	                  <label for="city" class="sr-only">City</label>
	                  <input type="text" name="city" class="form-control" id="city" placeholder="City" required>
	                  <span class="help-block"></span>
	                </div>
              	</div>
              	<div class="col-sm-12 col-md-6">
	                <div class="form-group">
	                  <label for="country" class="sr-only">Country</label>
	                  <input type="text" name="country" class="form-control" id="country" placeholder="Country" required>
	                  <span class="help-block"></span>
	                </div>
              	</div>
              	<div class="col-sm-12 col-md-6">
	                <div class="form-group">
	                  <label for="zip-code" class="sr-only">Zip Code</label>
	                  <input type="text" name="zip_code" class="form-control" id="zip-code" placeholder="Zip code">
	                  <span class="help-block"></span>
	                </div>
              	</div>
				{% if not selected_room %}
				<div class="col-sm-12 col-md-6">
					<div class="form-group">
						<label for="form-children" class="sr-only">Select Room</label>
						<select class="form-control" name="selected_room" id="room-no" required>
						<option value="0" selected="">Select Room</option>
						{% for room in rooms %}
						<option value="{{ room.room_no }}">{{ room.room_type}} |Room No: {{ room.room_no }}</option>
						{% endfor %}
						</select>
						<span class="help-block"></span>
				  	</div>
				</div>
				{% endif %}
              	<div class="col-sm-12">
	                <div class="form-group">
	                  <label for="requirements" class="sr-only">Special requirements</label>
	                  <textarea name="special_req" class="form-control" rows="8" id="requirements" placeholder="Special requirements"></textarea>
	                  <span class="help-block"></span>
	                </div>
              	</div>
               	<div class="col-sm-12">
               		<p>
               			<input type="checkbox" name="checkbox"> I have read and accept <a href="#" class="conditions">the terms and conditions.</a>
               		</p>
               		<button type="submit" class="btn btn-booking">Book now by email</button>
               	</div>
              </form> <!-- .reservation__form -->
            </div> <!-- .reservation__form-body -->
          </div>
    	  </div> <!-- / .row -->
    	</div> <!-- / .container -->
    </section> <!-- / .section reservation -->

{% endblock  %}