{% load static %}
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'home/assets/ico/favicon.ico' %}">

    <title>Sunset Hotel | Hotel Premium HTML Template</title>

    <!-- CSS Plugins -->
    <link href="{% static 'home/assets/plugins/lightbox/dist/css/lightbox.css' %}" rel="stylesheet">
		<link href="{% static 'home/assets/plugins/ionicons/css/ionicons.min.css' %}" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'home/assets/plugins/owl-carousel/dist/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/plugins/owl-carousel/dist/assets/owl.theme.default.min.css' %}">

    <!-- CSS Global -->
    <!--build:css assets/css/theme.min.css-->
    <link rel="stylesheet" href="{% static 'home/assets/css/theme.css' %}">
    <!--endbuild-->

  </head>
  <body>

  	<!-- Back to top button
    ================================================== -->
    <a id="back-to-top" href="#section__home" class="btn btn-top back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
	  	<i class="ion-android-arrow-up"></i>
	  </a>

	  <!-- PRELOADER
    ================================================== -->
    {% comment %} <div id="loader-wrapper">
		  <div id="loader"></div>
		</div> {% endcomment %}

    <!-- CONTENT
      ================================================== -->

  {% include 'home/base/topbar.html' %}
  {% include 'home/base/navbar.html' %}

   {% block content %}
   {% endblock %}

   

   {% include 'home/base/footer.html' %}

   <script src="{% static 'home/assets/plugins/jquery/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'home/assets/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- JS Plugins -->
    <script src="{% static 'home/assets/plugins/moment-develop/moment.js' %}"></script>
    <script src="{% static 'home/assets/plugins/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'home/assets/plugins/waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'home/assets/plugins/lightbox/dist/js/lightbox.min.js' %}"></script>
    <script src="{% static 'home/assets/plugins/owl-carousel/dist/owl.carousel.min.js' %}"></script>
    <script src="{% static 'home/assets/plugins/countTo/jquery.countTo.js' %}"></script>
    <script src="{% static 'home/assets/plugins/contact/contact.js' %}"></script>

    <!-- JS Custom -->
    <!--build:js home/assets/js/theme.min.js -->
    <script src="{% static 'home/assets/js/theme.js' %}"></script>
    <!-- endbuild -->
        <script src="{% static 'home/assets/js/google_maps.js' %}"></script>

    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfwXIv2vgXzFDZRzzRH2VpbvgSzhqCCuU&amp;callback=initMap" async defer></script>        
    
    <script>
      var preloader = (function() {

      // Variables
        var $window = $(window);
        var loader = $("#loader-wrapper");

        // Methods
        $window.on({
          'load': function() {

            loader.fadeOut();

          }
        });

        // Events

      })();
    </script>
  </body>

</html>