{%  extends 'home/base.html' %}
{% load static %}
{% block content %}
    <!-- CONTENT
      ================================================== -->

    <!-- section header -->
    <section class="section__header" id="section__header">
    	<div class="container">
    		<div class="row">
  	    	<div class="col-sm-12">
  	    		<div class="welcome__content">
							<h1 class="welcome_content__title">Our rooms</h1>

              <!-- Breadcrumbs -->
              <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Rooms</li>
              </ol>

	  					<p class="welcome_content__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		  			</div> <!-- .welcome__content -->
    	    </div>
	    	</div> <!-- / .row -->
    	</div> <!-- / .container -->
			<div class="home__bg rooms__bg"></div>
    </section> <!-- / .section__header -->

        <!-- section rooms-1 -->
    <section class="section__rooms-1">
    	<div class="container">
    	  <div class="row">
            {% if room %}
            {% for room in room %}
            <div class="rooms__item">

                <div class="col-md-6">
                  {% for img in room.image.all|slice:1 %}
                <div class="rooms__pic">
                    <img style="width: 400px; height: 400px;" src="{{ img.image.url }}" class="img-responsive" alt="...">
                </div>
                {% endfor %}
                 <!-- / .about__pic -->
                </div>
                <div class="col-md-6">
                <div class="rooms__desc">
                    <div class="rooms_desc__header">
                    <h2 class="rooms_desc__title">{{ room.room_type }}
                      {% if room.availability %}
                      <small class="btn-sm btn-success"> available now</small>
                      {% else %}
                      <small class="btn-sm btn-warning">not available now</small>

                      {% endif %}
                    </h2>
                    <p class="rooms_desc__price"><span>{{ room.price }}</span> / night</p>
                    </div> <!-- .rooms_desc__header -->
                    <p class="rooms_desc__desc">{{ room.description|safe|truncatewords:30 }}</p>
                    {% for features in room.features.all %}
                    <div class="col-sm-6">
    
                    <ul class="rooms_desc__services">
                        <li>{{features.title}}</li>
                        <img src="{{features.image.url }}" height="15px" width="15px">
                    </ul> <!-- .rooms_desc__services -->
                    
                    </div>
                    {% endfor %}
                    <a href="{% url 'room-detail' room.pk %}" class="btn btn-rooms">View details</a>
                </div> <!-- / .rooms__desc -->
                </div>
            </div> <!-- .rooms__item -->
          {% endfor %}
          {% else %}
          <h3><strong>Sorry!</strong> Room not available</h3>
          {% endif %}

          
        </div> <!-- .row -->
        <div class="row">
          <div class="col-sm-12">

            <nav aria-label="Page navigation">
              <ul class="pagination">
                {% if page_obj.has_previous %}
                <li>
                  <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li><a href="?page={{page_obj.previous_page_number}}">{{ page_obj.previous_page_number }}</a></li>
                {% endif %}
                <li class="active"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                {% endif  %}
                {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                <li><a href="?page={{page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li>
                  <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </nav>

          </div>
        </div> <!-- / .row -->
	    </div> <!-- / .container -->
    </section> <!-- / .section__rooms-1 -->
 {% endblock %}   