{% extends 'dashboard/base/index.html' %} 
{% block content %}
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
                <button class="btn btn-primary">
                    <a class="text-white" href="{% url 'dashboard:image_create' %}">Upload Image</a>
                </button>
          </div>
          <div class="col-"></div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Gallery</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                  <div class="card-header">
                    <h4 class="card-title">Some Beautiful moments</h4>
                  </div>
                  <div class="card-body">
                    <div class="row">
                        {% for img in object_list %}
                      <div class="col-sm-2">
                          <span>{{img.caption}}</span>
                        <a href="{{ img.image.url }}" data-toggle="lightbox" data-title="sample 2 - white" data-gallery="gallery">
                          <img src="{{ img.image.url }}" class="img-fluid mb-2" alt="white sample"/>
                            <div>
                                <a href="{% url 'dashboard:image_update' img.id %}">edit</a> |
                                <a class="delete" href="{% url 'dashboard:image_delete' img.id %}">delete</a>
                            </div>
                        </a>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
{% endblock %}
{% block script %}
<script>
    $(function () {
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox({
          alwaysShowClose: true
        });
      });
  
      $('.filter-container').filterizr({gutterPixels: 3});
      $('.btn[data-filter]').on('click', function() {
        $('.btn[data-filter]').removeClass('active');
        $(this).addClass('active');
      });
    })
</script>
<script>
  $('.delete').click(function(e) {
          e.preventDefault();
          swal({
                  title: "Are you sure?",
                  text: "It will permanently deleted !",
                  icon: "warning",
                  buttons: true,
                  dangerMode: true,
              })
              .then((willDelete) => {
                  if (willDelete) {
                      window.location.href = $(this).attr('href');
                      swal(" 'Your file has been deleted.'!", {
                          icon: "success",
                      });
                  }
              });
      })
  </script>
{% endblock %}
