{%  extends 'home/base.html' %}
{% load static %}
{% block content %}

     <!-- section header -->
    <section class="section__header">
    	<div class="container">
    	  <div class="row">
    	    <div class="col-sm-12">
    	    	<div class="welcome__content">
							<h1 class="welcome_content__title">Our Events</h1>

              <!-- Breadcrumbs -->
              <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Events</li>
              </ol>

    					<p class="welcome_content__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    				</div> <!-- .welcome__content -->
    	    </div>
    	  </div> <!-- / .row -->
    	</div> <!-- / .container -->
			<div class="home__bg blog__bg"></div>
    </section> <!-- / .section header -->

    <!-- section blog -->
    <section class="section__blog">
    	<div class="container">
    	  <div class="row">
    	    <div class="col-sm-8">
    	    	
            {% for event in event %}
            <div class="blog__item">
    	    		<div class="blog-item__img">
                <img src="{{ event.image.url }}" class="img-responsive" alt="...">
              </div>
              <div class="blog-item__content">
              	<div class="blog-item__category">
                  <p>/ <span>Events</span> /</p>
                </div>
            		<div class="blog-item__title">
                  <h3>{{event.title}}</h3>
                </div>
                <div class="divider blog-divider">
		    					<hr class="line1">
		    					<hr class="line2">
		    					<hr class="line1">
		    				</div> <!-- / .divider -->
		    				<div class="blog-item__date">
                  <p>{{ event.created_at }}</p>
                </div>
                <div class="blog-item__text">
                 {{event.description|truncatewords:20|safe}}
                </div> <!-- .blog-item__text -->
                <div class="blog-item__footer">
                	<div class="footer__item">
                		<ul class="item-info__list">
	                    <li class="info-list__item"><i class="ion ion-android-person"></i> by {{ event.created_by}}</li>
	                    <li class="info-list__item"><i class="ion ion-android-chat" aria-hidden="true"></i> {{event.event_comment.count}}  Comments</li>
	                  </ul> <!-- .item-info__list -->
                	</div> <!-- .footer__item -->
                	<div class="footer__item">
                		<div class="blog-item__link">
		                  <a href="{% url 'event-detail' event.id %}">/ Read More /</a>
		                </div> <!-- .blog-item__link -->
                	</div> <!-- .footer__item -->
                	<div class="footer__item">
                		<ul class="social__icons">
                			<li class="social-icons__item">Share:</li>
						          <li class="social-icons__item"><a href="#"><i class="icon ion-social-twitter" aria-hidden="true"></i></a></li>
						          <li class="social-icons__item"><a href="#"><i class="icon ion-social-facebook" aria-hidden="true"></i></a></li>
						          <li class="social-icons__item"><a href="#"><i class="icon ion-social-googleplus" aria-hidden="true"></i></a></li>
						        </ul> <!-- .social__icons -->
                	</div> <!-- .footer__item -->
                </div> <!-- .blog-item__footer -->
              </div> <!-- / .blog-item__content -->
            </div> <!-- .blog__item -->
            {% endfor %}
          </div>
          <div class="col-sm-4">
    	    	<div class="blog__sidebar">
    	    		<div class="sidebar__item">
    	    			<p class="subheading">Search</p>
    	    			<form class="search-form" role="search">
								  <div class="form-group">
								    <input type="text" class="form-control" placeholder="Enter keywords">
								  </div>
								  <button type="submit" class="btn btn-search"><i class="icon ion-search"></i></button>
								</form> <!-- .search-form -->
    	    			<p class="subheading">Categories</p>
    	    			<ul class="categories">
    	    				
    	    				<li><a href="{% url 'rooms' %}">Rooms</a></li>
    	    				<li><a href="#">Services</a></li>
    	    				<li><a href="">News</a></li>
    	    			</ul> <!-- .categories -->
    	    		</div>
    	    		<div class="sidebar__item">
    	    			<p class="subheading">Recent Events</p>
    	    			<ul class="recent__posts">
    	    				{% for event in event|slice:4%}
    	    				<li>
    	    					<a href="#" class="post__title">
    	    						<h5 class="post__title">{{ event.title }}</h5>
    	    						<p class="post__desc">
	    	    						{{event.description|safe|truncatewords:20 }}
	    	    					</p>
	    	    					<p class="post__info"><i class="ion ion-android-calendar"></i>{{event.created_at|date:"d M Y" }}</p>
	    	    					<p class="post__info"><i class="ion ion-android-person"></i> by {{ event.created_by }}</p>
    	    					</a>
    	    				</li>
    	    	    {% endfor %}
    	    			</ul>
    	    		</div> <!-- .sidebar__item -->
    	    		<div class="sidebar__item">
    	    			<p class="subheading">Tags</p>
    	    			<ul class="tags">
    	    				<li><a href="#">#travel</a></li>
    	    				<li><a href="#">#rooms</a></li>
    	    				<li><a href="#">#services</a></li>
    	    				<li><a href="#">#accomondation</a></li>
    	    				<li><a href="#">#spa</a></li>
    	    				<li><a href="#">#events</a></li>
    	    				<li><a href="#">#news</a></li>
    	    				<li><a href="#">#hotel</a></li>
    	    			</ul>
    	    		</div> <!-- .sidebar__item -->
  	    		</div> <!-- .blog__sidebar -->
    	    </div>
    	  </div> <!-- / .row -->
    	  <div class="row">
    	    <div class="col-sm-8">
		    	  <nav aria-label="...">
						  <ul class="pager">
						    <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
						    <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
						  </ul>
						</nav>
    	    </div>
    	  </div> <!-- / .row -->
    	</div> <!-- / .container -->
    </section> <!-- / .section reservation -->




{% endblock %}