{% extends 'dashboard/base/index.html' %} {% block content %}
<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">   
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-left">
              <li class="breadcrumb-item">
                <a href="{% url 'dashboard:admin-dashboard' %}">Home</a>
              </li>
              <li class="breadcrumb-item active">News</li>
            </ol>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-primary float-sm-right">
              <a class="text-white" href="{% url 'dashboard:news-comment-list' %}"
                >Cancel</a
              >
            </button>
          </div>
       
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-10 mx-auto">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add / Edit News</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                  {% comment %} {{ form }} {% endcomment %}
                  <div class="form-group">
                    <label for="news">news</label>
                    <p>{{form.news}}</p>
                  </div>
                  <div class="form-group">
                    <label for="full_name">full_name</label>
                    <p>{{form.full_name}}</p>
                  </div>
                  <div class="form-group">
                    <label for="email">email</label>
                    <p>{{form.email}}</p>
                  </div>
                  <div class="form-group">
                    <label for="website">website</label>
                    <p>{{form.website}}</p>
                  </div>

                  <div class="form-group">
                    <label for="message">News Comment</label>
                    <p>{{form.comment}}</p>
                  </div>
                </div>

                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
