{% extends 'dashboard/base/index.html' %} {% block content %}
<script>
  M.toast({html:" toasted!", classes: "blue rounded",displayLength:2000});
</script>
<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">

          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-left">
              <li class="breadcrumb-item">
                <a href="{% url 'dashboard:admin_dashboard' %}">Home</a>
              </li>
              <li class="breadcrumb-item active">Room</li>
            </ol>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-primary float-sm-right">
              <a class="text-white" href="{% url 'dashboard:room_create' %}"
                >Add Room</a
              >
            </button>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              
              <div class="card-header">
              <div class="row">
              <div class="col-4">
                <h3 class="card-title">Our Room List</h3>
              </div>
              <div class="col-8">
                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <form action="{% url 'dashboard:room_list' %}" method="GET" class="form-inline">
                      <input
                        type="text"
                        name="room_type"
                        class="form-control float-right searchInput"
                        id="SearchRoom"
                        placeholder="Room type"
                      />
                      <input
                        type="text"
                        name="room_no"
                        class="form-control float-right searchInput"
                        id="SearchRoom"
                        placeholder="Room no"
                      />
                      <input
                        type="text"
                        name="price"
                        class="form-control float-right searchInput"
                        id="SearchRoom"
                        placeholder="Price"
                      />

                      <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap" id="rooms">
                  <thead>
                    <tr>
                      <th>SN</th>
                      <th>Room Type</th>
                      <th>Room No</th>
                      <th>Availability</th>
                      <th>Check In Date</th>
                      <th>Check Out Date</th>
                      <th>Price</th>
                      <th>Deleted at</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for room in object_list %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>
                        <a href="{% url 'dashboard:room_detail' room.pk %}"
                          >{{room.room_type}}</a
                        >
                      <td>{{room.room_no}}</td>
                      </td>
                      {% if room.availability %}
                      <td>Yes</td>
                      {% else %}
                      <td>No</td>
                      {% endif %}
                      <td>{{room.checked_in_date}}</td>
                      <td>{{room.checked_out_date}}</td>
                      <td>{{room.price}}</td>
                      <td>{{room.deleted_at}}</td>
                      <td>
                          <span ><a class="btn btn-warning mr-2" href="{% url 'dashboard:room_update' room.pk %}"
                              ><i
                                class="fa fa-edit m-1"
                                aria-hidden="true"
                              ></i>Edit</a
                          ></span>
                        <span
                          ><a class="btn btn-danger delete" href="{% url 'dashboard:room_delete' room.pk %}"
                            ><i class="fa fa-trash m-1"></i></a></span
                        >
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                
                </div>
              </div>
              <!-- /.card-body -->
              <div class="pagination">
                <span>
                  {% if page_obj.has_previous %}
                    {% if page_obj.previous_page_number != 1 %}
                        <a class="btn btn-primary" href="?page1">1</a>
                    {% endif %}
                    <a class="btn btn-primary" href="?page={{page_obj.previous_page_number}}">
                        {{ page_obj.previous_page_number }}
                    </a>
                  {% endif %}
                  <span>
                      {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                  </span>
                  {% if page_obj.has_next %}
                  <a class="btn btn-primary" href="?page={{page_obj.next_page_number}}">
                      {{ page_obj.next_page_number }}
                  </a>
                  {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                  <a class="btn btn-primary" href="?page={{ page_obj.paginator.num_pages }}">
                      {{ page_obj.paginator.num_pages }}
                  </a>
                  {% endif %}
                  {% endif %}
                </span>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
$('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    swal(" 'Your file has been deleted.'!", {
                        icon: "success",
                    });
                }
            });
    })
</script>
{% endblock %}
