


{% extends 'home/base.html' %}
{% load static %}
    {% block content %}
    <!-- CONTENT
      ================================================== -->

    <!-- section header -->
    <section class="section__header">
    	<div class="container">
    	  <div class="row">
    	    <div class="col-sm-12">
    	    	<div class="welcome__content">
							<h2 class="welcome_content__title">Contact us</h2>

              <!-- Breadcrumbs -->
              <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Contact</li>
              </ol>

    					<p class="welcome_content__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    				</div> <!-- .welcome__content -->
    	    </div>
    	  </div> <!-- / .row -->
    	</div> <!-- / .container -->
			<div class="home__bg contacts__bg"></div>
    </section> <!-- / .section header -->

		<!-- section Contacts alt -->
    <section class="section__contacts-alt">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="subheading">If you have any questions don't hesistate to contact us.</h1>        
          </div>
        </div> <!-- / .row -->
      	<div class="row">
      		<div class="col-sm-7">
	        	<div class="section-contacts__form_body">
              <p class="section-contacts__title">Get in touch</p>

              <!-- Please carefully read the README file in order to setup the PHP contact form properly -->

              <!-- Alert message -->
              <div class="alert" id="form_message" role="alert"></div>

              <!-- Form -->
              <form id="form_sendemail" class="contacts__form" method="POST">
                {% csrf_token %}
                <!-- Email -->
                <div class="form-group">
                  <label for="email" class="sr-only">Email address</label>
                 {{form.email}}
                </div>
                
                <!-- Name -->
                <div class="form-group">
                  <label for="name" class="sr-only">Name</label>
                  {{form.full_name}}
                </div>
                
                <!-- Message -->
                <div class="form-group">
                  <label for="message" class="sr-only">Message</label>
                 {{form.message}}
                </div>
                
                <!-- Note -->
                <div class="form-group">
                  <small class="text-muted">
                    * All fields are mandatory.
                  </small>
                </div>
                
                <!-- Submit -->
                <button type="submit" class="btn btn-default">
                  Send Message
                </button>

              </form> <!-- .contacts__form -->
              
            </div> <!-- / .section-contacts__form_body -->
	        </div>
	        <div class="col-sm-5">
						<div class="contacts__info">
							<p class="contacts_info__title">Information</p>
							<ul class="contacts_info__content">
                <li>
                  <p class="contact-info-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit eveniet repellat possimus.</p>
                </li>
                {%for c in contact|slice:1%}
	              <li>
	                <i class="icon ion-android-pin"></i>
	                <div class="contact-info-content">
	                  <div class="title">Address</div>
	                  <div class="description">{{c.address}}</div>
	                </div>
	              </li>
	              <li>
	                <i class="icon ion-android-call"></i>
	                <div class="contact-info-content">
	                  <div class="title">Phone / Fax</div>
	                  <div class="description">{{c.phone}} / {{c.fax}}</div>
	                </div>
	              </li>
	              <li>
	                <i class="icon ion-android-mail"></i>
	                <div class="contact-info-content">
	                  <div class="title">E-mail</div>
	                  <div class="description">{{c.email}}</div>
	                </div>
	              </li>
                {%endfor%}
	            </ul>
						</div> <!-- / .contacts__info -->
	        </div>
	      </div> <!-- / .row -->
      </div> <!-- / .container -->
      <div class="section_row">
        <div id="map"></div>
      </div> <!-- / .section_row -->
    </section> <!-- / .section__contacts-alt -->

 {% endblock %} 