{% extends 'dashboard/base/index.html' %} {% block content %}
<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <button class="btn btn-primary">
              <a class="text-white" href="{% url 'dashboard:reservation_list' %}"
                >Cancel</a
              >
            </button>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a href="{% url 'dashboard:admin_dashboard' %}">Home</a>
              </li>
              <li class="breadcrumb-item active">Reservation</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-10 mx-auto">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add / Edit Reservation</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                  {% comment %} <div class="form-group">
                    <label for="full_name">First Name</label>
                    <p>{{form.first_name}}</p>
                  </div>
                  <div class="form-group">
                    <label for="full_name">Last Name</label>
                    <p>{{form.last_name}}</p>
                  </div>
                  <div class="form-group">
                    <label for="email">No of adult choice</label>
                    <p>{{form.adult}}</p>
                  </div>
                  <div class="form-group">
                    <label for="no_of_children_choice">No_of_children_choice</label>
                    <p>{{form.children}}</p>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <p>{{form.email}}</p>
                  </div>
                  <div class="form-group">
                    <label for="email">Check In Date</label>
                    <p>{{form.check_in_date}}</p>
                  </div>
                  <div class="form-group">
                    <label for="email">Check Out Date</label>
                    <p>{{form.check_out_date}}</p>
                  </div>
                  <div class="form-group">
                    <label for="phone">Phone</label>
                    <p>{{form.phone}}</p>
                  </div>
                  <div class="form-group">
                    <label for="address_1">Address_1</label>
                    <p>{{form.address_1}}</p>
                  </div>
                  <div class="form-group">
                    <label for="address_2">Address_2</label>
                    <p>{{form.address_2}}</p>
                  </div>
                  <div class="form-group">
                    <label for="state">state</label>
                    <p>{{form.state}}</p>
                  </div>
                  <div class="form-group">
                    <label for="city">city</label>
                    <p>{{form.city}}</p>
                  </div>
                  <div class="form-group">
                    <label for="zip_code">Zip_code</label>
                    <p>{{form.zip_code}}</p>
                  </div>
                  <div class="form-group">
                    <label for="country">Country</label>
                    
                    <p>{{form.country}}</p>
                  </div>
                  <div class="form-group">
                    <label for="special_req">Special_req</label>
                 
                    <p>{{form.special_req}}</p>
                  </div>
                </div> {% endcomment %}
                {{form}}
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
	$(".check-date").flatpickr({
    enableTime: true,
    dateFormat: "Y-m-d ",
	minDate: "today"

});

</script>

{% endblock %}
