{% load static %}
  	<!-- Navbar
    ================================================== -->
    <nav class="navbar navbar-default">
        <div class="container">
      
          <!-- Header -->
          <div class="navbar-header">
  
            <!-- Collapse toggle -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar__collapse" aria-expanded="false">
              <span class="sr-only">Menu</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
  
            <!-- Logo -->
            <a class="navbar-brand" href="{% url 'home' %}">
              <h3 class="navbar-brand__logo">Sunset Hotel</h3>
              <p class="navbar-brand__sublogo">Grand</p>
            </a>
  
          </div> <!-- / .navbar-header -->
      
          <!-- Links -->
          <div class="collapse navbar-collapse" id="navbar__collapse">
            <ul class="nav navbar-nav navbar-left">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About us</a></li>
              <li><a href="{% url 'rooms' %}">Room</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href={% url 'reservation' %}>Reservation</a></li>
              <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <i class="icon ion-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                      <li><a href="gallery-fullwidth.html">Gallery full width</a></li>
                      <li><a href="gallery-boxed.html">Gallery boxed</a></li>
                      <li><a href="{% url 'event' %}">Events</a></li>
                      <li><a href="blog-item.html">Blog Item</a></li>
                      <li><a href="404page.html">404 Page</a></li>
                    </ul>
                  </li>
              <li><a href="{% url 'contact' %}">Contacts</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
  
        </div><!-- /.container -->
      </nav>